* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

img {
    width: 100%;
    border: 4px solid;
    border-color: black;
    float: left;
    margin: 20px;
    transition: transform 250ms, opacity 400ms;
}

img:hover {
    transform: scale(1.05);
}

.row {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column {
    flex: 25%;
    padding: 5px;
}

.column img {
    margin-top: 5px;
}

.contenedor {
    width: 90%;
    max-width: 800px;
    margin: auto;
}